description = "Default Layout"

[session]
security = "all"

[contactForm]
loadJS = 1

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search-results.htm"

[mailSignup]
==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
    <head>
        {% partial "site/meta" %}
        {% partial "site/css" %}
    </head><!--/#head-->
    <body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">
    
        <!--Google Analytics -->
        {{ this.theme.google_analytics|raw }}

        <header id="header-wrap" class="header">
            {% partial "site/top" %}
            {% partial "site/nav" %}
        </header><!--/#header-->
    
        <!--Page header-->
        {% partial "site/page-header" %}
        
        {% page %}
    
        <!--Blog partials-->

        <footer>
        	{% partial "site/footer" %}
        </footer><!--/#footer-->
    
        <!-- Copyright -->
        {% partial "site/copyright" %}
    
        <!-- Scroll to top -->
        {% partial "site/scrolltop" %}
        
        <!-- Loader -->
        {% partial "site/loader" %}
    
        <!-- Scripts -->
        {% partial "site/scripts" %}

</body><!--/#body-->
</html>