description = "Page Header"

[viewBag]

[ssbuttons]
fa = "no"
twitter = 1
facebook = 1
google+ = 1
stumbleupon = 0
linkedin = 1
order_twitter = 1
order_facebook = 2
order_google+ = 3
order_stumbleupon = 4
order_linkedin = 5
==
{% if blogPost.post %}
<section id="page-header" class="jarallax {% if this.theme.blog_post_type == 'type2' %}pageheader-image{% endif %}" style="background-image: url(
    {% if post.featured_images.count > 0 %}
    {{ post.featured_images.first.getThumb(1200, 564, 'crop') }}
    {% else %}
    {{ 'assets/images/img/1920x500.png'|theme }}
    {% endif %}
    );">
    <div class="overlay"></div>
    {% if this.theme.layout_container %}
    <div class="{{ this.theme.layout_container }}">
    {% else %}
    <div class="container">
        {% endif %}
        {% if this.theme.blog_post_type == 'type1' %}<div class="row justify-content-md-center"><div class="col-md-10">{% endif %}
        <div class="contents text-center" data-aos="zoom-in" data-aos-delay="300">
            <h1 class="contents-title">{{ post.title }}</h1>
            {% if this.theme.blog_post_type == 'type2' %}
            <div class="post-meta">
                <ul>
                    {% for category in post.categories %}
                    <li><i class="lnr lnr-tag"></i> <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}</li>
                    {% endfor %}
                    <li><i class="lnr lnr-calendar-full"></i> {{ post.published_at|date('M d, Y') }}</li>
                    <li><i class="lnr lnr-user"></i> {{ post.user.first_name}}</li>
                    {% if this.theme.settings_disqus %}
                    <li><i class="lnr lnr-bubble"></i> <a href="{{ post.url }}#disqus_thread">Comments</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="post-social">
                <ul>
                    {% if this.theme.settings_social %}
                    {% for button in ssbuttons.property('buttons_order') %}
                    {% if(ssbuttons.property(button)) %}
                    <li><a href="{{ ssbuttons.property('buttons_parameters')[button]['href'] }}" title="{{ ssbuttons.property('buttons_parameters')[button]['title'] }}" target="_blank"><i class="{{ ssbuttons.property('buttons_parameters')[button]['icon'] }}"></i></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if ssbuttons.property('js') %}
                    <script src="/plugins/martin/ssbuttons/assets/js/ssbuttons.js"></script>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </div>
        {% if this.theme.blog_post_type == 'type1' %}</div></div>{% endif %}
    </div>
</section>
{% if this.theme.settings_disqus %}
<script id="dsq-count-scr" src="//{{ this.theme.settings_disqus_url }}/count.js" async></script>
{% endif %}
{% elseif this.page.url == '/blog/:page?' %}
<section id="page-header" class="jarallax" style="background-image: url(
    {% if this.theme.settings_pageheader %}
    {{ this.theme.settings_pageheader|media }}
    {% else %}
    {{ 'assets/images/img/1920x500.png'|theme }}
    {% endif %}
    );">
    <div class="overlay"></div>
    {% if this.theme.layout_container %}
    <div class="{{ this.theme.layout_container }}">
    {% else %}
    <div class="container">
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-10" data-aos="zoom-in" data-aos-delay="300">
                <div class="contents text-center">
                    <h1 class="contents-title">{{ this.page.title }}</h1>
                    {% if this.page.meta_title %}
                    <h4>{{ this.page.meta_title }}</h4>
                    {% endif %}
                    {% if this.page.meta_description %}
                    <p>{{ this.page.meta_description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% elseif blogCategories.categories %}
<section id="page-header" class="jarallax" style="background-image: url(
    {% if this.theme.settings_pageheader %}
    {{ this.theme.settings_pageheader|media }}
    {% else %}
    {{ 'assets/images/img/1920x500.png'|theme }}
    {% endif %}
    );">
    <div class="overlay"></div>
    {% if this.theme.layout_container %}
    <div class="{{ this.theme.layout_container }}">
    {% else %}
    <div class="container">
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-10" data-aos="zoom-in" data-aos-delay="300">
                <div class="contents text-center">
                    <h1 class="contents-title">{{ category.name }}</h1>
                    {% if category.description %}
                    <p>{{ category.description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="page-header" class="jarallax" style="background-image: url(
    {% if this.theme.settings_pageheader %}
    {{ this.theme.settings_pageheader|media }}
    {% else %}
    {{ 'assets/images/img/1920x500.png'|theme }}
    {% endif %}
    );">
    <div class="overlay"></div>
    {% if this.theme.layout_container %}
    <div class="{{ this.theme.layout_container }}">
    {% else %}
    <div class="container">
        {% endif %}
        <div class="row justify-content-md-center">
            <div class="col-md-10" data-aos="zoom-in" data-aos-delay="300">
                <div class="contents text-center">
                    <h1 class="contents-title">{{ this.page.title }}</h1>
                    {% if this.page.meta_title %}
                    <h4>{{ this.page.meta_title }}</h4>
                    {% endif %}
                    {% if this.page.meta_description %}
                    <p>{{ this.page.meta_description }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}